<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.lopicture.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.lyx.lopicture.model.entity.Picture">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="OTHER"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="picSize" column="pic_size" jdbcType="BIGINT"/>
        <result property="picWidth" column="pic_width" jdbcType="INTEGER"/>
        <result property="picHeight" column="pic_height" jdbcType="INTEGER"/>
        <result property="picScale" column="pic_scale" jdbcType="DOUBLE"/>
        <result property="picFormat" column="pic_format" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="spaceId" column="space_id" jdbcType="BIGINT"/>
        <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,thumbnail_url,`name`,
        introduction,`category`,tags,
        pic_size,pic_width,pic_height,
        pic_scale,pic_format,user_id,
        space_id,review_status,review_message,
        reviewer_id,review_time,
        create_time,edit_time,update_time,
        is_delete
    </sql>
    <select id="selectPage" resultMap="BaseResultMap"><!--resultType="com.lyx.lopicture.model.entity.Picture">-->
        SELECT
        id,
        url,
        thumbnail_url,
        `name`,
        introduction,
        `category`,
        tags,
        pic_size,
        pic_width,
        pic_height,
        pic_scale,
        pic_format,
        user_id,
        space_id,
        review_status,
        review_message,
        reviewer_id,
        review_time,
        create_time,
        edit_time,
        update_time
        FROM picture
        <where>
            is_delete = 0
            <if test="query.id != null">
                AND id = #{query.id}
            </if>
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.reviewerId != null">
                AND reviewer_id = #{query.reviewerId}
            </if>
            <if test="query.reviewStatus != null">
                AND review_status = #{query.reviewStatus}
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.category)">
                AND `category` = #{query.category}
            </if>
            <if test="query.picSize != null">
                AND pic_size = #{query.picSize}
            </if>
            <if test="query.picWidth != null">
                AND pic_width = #{query.picWidth}
            </if>
            <if test="query.picHeight != null">
                AND pic_height = #{query.picHeight}
            </if>
            <if test="query.picScale != null">
                AND pic_scale = #{query.picScale}
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.searchText)">
                AND (name LIKE CONCAT('%', #{query.searchText}, '%')
                OR introduction LIKE CONCAT('%', #{query.searchText}, '%'))
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.name)">
                AND name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.introduction)">
                AND introduction LIKE CONCAT('%', #{query.introduction}, '%')
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.picFormat)">
                AND pic_format LIKE CONCAT('%', #{query.picFormat}, '%')
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.reviewMessage)">
                AND review_message LIKE CONCAT('%', #{query.reviewMessage}, '%')
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(query.tags)">
                <bind name="tagsJson" value="@cn.hutool.json.JSONUtil@toJsonStr(query.tags)"/>
                AND JSON_CONTAINS(tags, #{tagsJson}, '$')
            </if>
            <if test="query.reviewTimeStart != null and query.reviewTimeEnd != null">
                AND (review_time BETWEEN #{query.reviewTimeStart} AND #{query.reviewTimeEnd})
            </if>
        </where>
        <if test="query.sortFieldPairs != null and query.sortFieldPairs.size() > 0">
            <foreach collection="query.sortFieldPairs" item="sortField" open="ORDER BY" separator="," close="">
                ${sortField.sortField}
                <choose>
                    <when test="sortField.sortOrder != null and sortField.sortOrder != ''
                        and sortField.sortOrder == 'ascend' ">
                        ASC
                    </when>
                    <otherwise>
                        DESC
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>
    <select id="getDeletePictureById" resultMap="BaseResultMap"><!--resultType="com.lyx.lopicture.model.entity.Picture">-->
        SELECT url,
               thumbnail_url
        FROM picture
        where id = #{id}
    </select>
</mapper>
