<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.lopicture.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="com.lyx.lopicture.model.entity.Space">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spaceName" column="space_name" jdbcType="VARCHAR"/>
        <result property="spaceLevel" column="space_level" jdbcType="INTEGER"/>
        <result property="maxSize" column="max_size" jdbcType="BIGINT"/>
        <result property="maxCount" column="max_count" jdbcType="BIGINT"/>
        <result property="totalSize" column="total_size" jdbcType="BIGINT"/>
        <result property="totalCount" column="total_count" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,space_name,space_level,
        max_size,max_count,total_size,
        total_count,user_id,create_time,
        edit_time,update_time,is_delete
    </sql>

    <select id="selectPage" resultMap="BaseResultMap"><!--resultType="com.lyx.lopicture.model.entity.Space">-->
        SELECT
        id,
        space_name,
        space_level,
        max_size,
        max_count,
        total_size,
        total_count,
        user_id,
        create_time,
        edit_time,
        update_time
        FROM space
        <where>
            is_delete = 0
            <if test="query.id != null">
                AND id = #{query.id}
            </if>
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.spaceLevel != null">
                AND space_level = #{query.spaceLevel}
            </if>
            <if test="@cn.hutool.core.text.CharSequenceUtil@isNotBlank(query.spaceName)">
                AND space_name LIKE CONCAT('%', #{query.spaceName}, '%')
            </if>
        </where>
        <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(query.sortFieldPairs)">
            <foreach collection="query.sortFieldPairs" item="sortField" open="ORDER BY" separator="," close="">
                ${sortField.sortField}
                <choose>
                    <when test="sortField.sortOrder != null and sortField.sortOrder != ''
                        and sortField.sortOrder == 'ascend' ">
                        ASC
                    </when>
                    <otherwise>
                        DESC
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>

    <select id="checkSpaceCapacity" resultType="java.lang.Integer">
        SELECT CASE
                   WHEN total_count >= space.max_count
                       THEN 1
                   WHEN total_size >= space.max_size
                       THEN 2
                   ELSE 0
                   END
        FROM space
        WHERE is_delete = 0
          AND id = #{id}
    </select>

    <update id="updateSpaceCapacity">
        UPDATE space
        SET total_size = total_size + #{size}
            AND total_count = total_count + 1
        WHERE is_delete = 0
          AND id = #{id}
          AND total_size + #{size} &lt; space.max_size
          AND total_count + 1 &lt; space.max_count
    </update>

    <select id="getAnalyzeByLevel"
            resultType="com.lyx.lopicture.model.vo.space.analyze.SpaceLevelAnalyzeResponse$SpaceLevelAnalyzeInnerResponse">
        SELECT space_level,
        COUNT(space_level) AS count,
        SUM(total_size) AS total_size,
        SUM(total_count) AS total_count
        FROM space
        WHERE is_delete = 0
        <if test="query.level != null">
            AND space_level = #{query.level}
        </if>
        GROUP BY space_level
    </select>

</mapper>
